<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search data-submitclick= "$ctrl.submitClick"></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player data-videoplay= "$ctrl.videoplay"><h5><em>videoPlayer</em> component goes here</h5></video-player>
    </div>
    <div class="col-md-5">
      <video-list data-videos= "$ctrl.videos" data-videoclick="$ctrl.videoClick"><h5><em>videoList</em> component goes here</h5></video-list>
    </div>
  <div>
</div>
